<div class="container">

  <!-- <h3 class="d-flex justify-content-center">Company Printer Terra Project</h3> -->
 <h1 class="d-flex justify-content-center">PRINTER MANAGEMENT PORTAL</h1> 
  <br>
  <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #149cc5;">
      <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="printer" class="m-1 btn btn-light btn btn-outline-dark" Button>
                Printers        
            </button>
        </li>
        <li class="nav-item">
            <button routerLink="user" class="m-1 btn btn-light btn btn-outline-dark" Button>
                Users       
            </button>
        </li>
          <li class="nav-item">
              <button routerLink="designation" class="m-1 btn btn-light  btn btn-outline-dark" Button> Designations        
              </button>
          </li>
          <li class="nav-item">
              <button routerLink="employee" class="m-1 btn btn-light btn btn-outline-dark" Button> Documents        
              </button>
          </li>
          <li class="nav-item">
            <button routerLink="printermake" class="m-1 btn btn-light btn btn-outline-dark" Button> Printer Make        
            </button>
        </li>
      </ul>
  
  </nav>
  
  <router-outlet></router-outlet>
  </div>
