<form>
<div class="form-froup ">

    <label class="col-sm-2 col-form-label">Last Name:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="LastName" [ngModelOptions]="{standalone: true}" 
      >
    </div>
    
    <label class="col-sm-2 col-form-label">First Name:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}" 
       >
    </div>
    
    <label class="col-sm-2 col-form-label">Designation:</label>
    <div class="col-sm-10">
 
       <select class="form-control" [(ngModel)]="DesignationID"  [ngModelOptions]="{standalone: true}" >
        <option >
            --Select--
        </option>
        <option *ngFor ="let dataItem of designtionList" [value]="dataItem.DesignationID"> 
            {{dataItem.DesignationName}}
        </option>

    </select> 
    </div>

  
    
    <label class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Email"  [ngModelOptions]="{standalone: true}" 
        >
    </div>
    
    <label class="col-sm-2 col-form-label">UserName:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="UserName"  [ngModelOptions]="{standalone: true}" 
       >
    </div>
   
    <label class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" [(ngModel)]="Password"  [ngModelOptions]="{standalone: true}" 
       >
    </div>
    
    <label class="col-sm-2 col-form-label">Address:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Address" [ngModelOptions]="{standalone: true}" 
        >
    </div>
    <label class="col-sm-2 col-form-label">Date Of Birth:</label>
    <div class="col-sm-10">
        <input  type="date" name="bday" min="1000-01-01"
        max="3000-12-31" class="form-control"  [(ngModel)]="DOB" [ngModelOptions]="{standalone: true}" 
        >
    </div>
<!--     
    <label class="col-sm-2 col-form-label">DOB</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="DOB"
        placeholder="Enter DOB">
    </div> -->
    
</div>

<br/>
<div>
<button (click)="addUser()" *ngIf="dep.UserID==0"  class="btn btn-light btn-outline-dark ">
    Add
</button>

<button (click)="updateUser()" *ngIf="dep.UserID!=0" class=" btn btn-light btn-outline-dark">
    Update
</button>
</div>
</form>

