<form [formGroup]="userForm" novalidate name="userForm">

    <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" formControlName="LastName" class="form-control" [(ngModel)]="LastName" 
                placeholder="Enter Last Name">
            </div>
            <div *ngIf="getControl.LastName.touched && getControl.LastName.invalid" class="text-danger">
                <div *ngIf="getControl.LastName.errors.required">Last name is required.</div>
              </div>
        </div>
    </div> 

    <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" formControlName="FirstName" class="form-control" [(ngModel)]="FirstName" 
                placeholder="Enter Last Name">
            </div>
            <div *ngIf="getControl.FirstName.touched && getControl.FirstName.invalid" class="text-danger">
                <div *ngIf="getControl.FirstName.errors.required">First name is required.</div>
              </div>
        </div>
    </div> 

    <!-- <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" formControlName="FirstName" class="form-control" [(ngModel)]="FirstName" 
                placeholder="Enter Last Name">
            </div>
            <div *ngIf="getControl.FirstName.touched && getControl.FirstName.invalid" class="text-danger">
                <div *ngIf="getControl.FirstName.errors.required">First name is required.</div>
              </div>
        </div>
    </div>  -->


<!--     
    <label class="col-sm-2 col-form-label">Designation:</label>
    <div class="col-sm-10">
 
       <select class="form-control" [(ngModel)]="DesignationID"  [ngModelOptions]="{standalone: true}" >
        <option >
            --Select--
        </option>
        <option *ngFor ="let dataItem of designtionList" [value]="dataItem.DesignationID"> 
            {{dataItem.DesignationName}}
        </option>

    </select> 
    </div> -->


    <div class="form-froup row" >
        <div class="form-group">
        <label class="col-sm-2 col-form-label">Designation:</label>
        <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="DesignationID"  formControlName="DesignationID"  >
               
                <option [value]="DesignationID">
                    --Select--
                </option>
                <option *ngFor ="let dataItem of designtionList" [value]="dataItem.DesignationID"> 
                    {{dataItem.DesignationName}}
                </option>
        
            </select> 
        </div>
         <div *ngIf="getControl.DesignationID.touched && getControl.DesignationID.invalid" class="text-danger">
            <div *ngIf="getControl.DesignationID.errors.required">Designation is not selected.</div>
          </div> 
        </div>
    </div> 


    <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" formControlName="Email" class="form-control" [(ngModel)]="Email" 
                placeholder="Enter Email">
            </div>
            <div *ngIf="getControl.Email.touched && getControl.Email.invalid" class="text-danger">
                <div *ngIf="getControl.Email.errors.required">Email is required.</div>
              </div>
        </div>
    </div> 

    <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">UserName</label>
            <div class="col-sm-10">
                <input type="text" formControlName="UserName" class="form-control" [(ngModel)]="UserName" 
                placeholder="Enter UserName">
            </div>
            <div *ngIf="getControl.UserName.touched && getControl.UserName.invalid" class="text-danger">
                <div *ngIf="getControl.UserName.errors.required">UserName is required.</div>
              </div>
        </div>
    </div> 

    <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" formControlName="Password" class="form-control" [(ngModel)]="Password" 
                placeholder="Enter Password">
            </div>
            <div *ngIf="getControl.Password.touched && getControl.Password.invalid" class="text-danger">
                <div *ngIf="getControl.Password.errors.required">Password is required.</div>
              </div>
        </div>
    </div> 

    <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" formControlName="Address" class="form-control" [(ngModel)]="Address" 
                placeholder="Enter Address">
            </div>
            <div *ngIf="getControl.Address.touched && getControl.Address.invalid" class="text-danger">
                <div *ngIf="getControl.Address.errors.required">Address is required.</div>
              </div>
        </div>
    </div> 

    <div class="form-froup row" >
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Date Of Birth</label>
            <div class="col-sm-10">
                <input type="date" formControlName="DOB"  min="1000-01-01" max="3000-12-31" class="form-control" [(ngModel)]="DOB" 
                placeholder="Enter Address">
            </div>
            <div *ngIf="getControl.DOB.touched && getControl.DOB.invalid" class="text-danger">
                <div *ngIf="getControl.DOB.errors.required">Date of birth is required.</div>
              </div>
        </div>
    </div> 

<!-- 
    <label class="col-sm-2 col-form-label">Date Of Birth:</label>
    <div class="col-sm-10">
        <input  type="date" name="bday" min="1000-01-01"
        max="3000-12-31" class="form-control"  [(ngModel)]="DOB" [ngModelOptions]="{standalone: true}" 
        >
    </div> -->

<br/>
<div>
<button (click)="addUser()" *ngIf="dep.UserID==0"  class="btn btn-light btn-outline-dark ">
    Add
</button>

<button (click)="updateUser()" *ngIf="dep.UserID!=0" class=" btn btn-light btn-outline-dark">
    Update
</button>
</div>
</form>

