<nav style="background-color: #149cc5;">
    <div class="nav-wrapper" >
      <a class="brand-logo center">
        Admin Bashboard</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLink='/printer' >Printers</a>
        </li>
        <li>
          <a routerLink='/user' >Users</a>
        </li>
        <li>
          <a routerLink='/designation' >Designations</a>
        </li>
        <li>
          <a routerLink='/document' >Documents</a>
        </li>
        <li>
          <a routerLink='/printermake' >Printermake</a>
        </li>
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
   
      </ul>
    </div>
  </nav>

<!-- <div class="container"> -->

  <!-- <h3 class="d-flex justify-content-center">Company Printer Terra Project</h3> -->
 <!-- <h1 class="d-flex justify-content-center">PRINTER MANAGEMENT PORTAL</h1> 
  <br>
  <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #149cc5;">
      <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink='/printer' class="m-1 btn btn-light btn btn-outline-dark" Button>
                Printers        
            </button>
        </li>
        <li class="nav-item">
            <button routerLink="/user" class="m-1 btn btn-light btn btn-outline-dark" Button>
                Users       
            </button>
        </li>
          <li class="nav-item">
              <button routerLink="/designation" class="m-1 btn btn-light  btn btn-outline-dark" Button> Designations        
              </button>
          </li>
          <li class="nav-item">
              <button routerLink="/document" class="m-1 btn btn-light btn btn-outline-dark" Button> Documents        
              </button>
          </li>
          <li class="nav-item">
            <button routerLink="/printermake" class="m-1 btn btn-light btn btn-outline-dark" Button> Printer Make        
            </button>
        </li>
      </ul>
  
  </nav>
  
  <router-outlet></router-outlet>
  </div> -->
